@import './_normalize.scss';
@import './theme.scss';



html {
  font-size: 12px;
  @media screen and (min-width: $dt * 1px) {
    font-size: calc(12 / $dt * 100vw)
  }
}

body {
  background-color: $blueDark;
  color: white;
  font-family: 'brother-1816', sans-serif;
}

section {
  position: relative;
}

h1 {
  @extend %font-96;
  line-height: 1.1;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: .375em;
  &.large {
    @extend %font-144;
  }
}

h2 {
  @extend %font-48;
  line-height: 1.1;
  font-weight: 700;
  &.large {
    @extend %font-96;
  }
}

h5 {
  @extend %font-16;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  word-spacing: 0.125em;
}

p {
  a {
    position: relative;
    text-decoration: none;
    color: white;
    font-weight: 700;
    transition: .3s color ease;
    &:after {
      content: '.....................................................................................................................................................................................................................';
      display: block;
      font-size: .25em;
      letter-spacing: .25em;
      position: absolute;
      overflow: hidden;
      width: 100%;
      left: 0;
      right: 0;
      bottom: -.75em;
      opacity: .75;
    }
    &:hover {
      color: $tealLight;
    }
  }
}

.lede {
  @extend %font-27;
  color: $offWhite;
  line-height: 1.75;
  @extend %col-10;
}

a {
  @extend %transition-standard;
}

#hero.homepage-hero {
  margin-bottom: 20vw;
  .lede {
    text-shadow: 0 0 0.25em $blueDark;
  }
}

.button {
  @extend %font-16;
  text-transform: uppercase;
  letter-spacing: .1em;
  text-decoration: none;
  word-spacing: .125em;
  font-weight: 500;
  color: white;
  padding: .75em 1.5em;
  background-color: $yellowDark;
  &:hover {
    filter: brightness(1.25);
  }
}

#content {
  &:before {
    content: '';
    display: block;
    @extend %absolute-fill;
    z-index: -110;
    background-image: url(../assets/bg-texture.svg);
    background-size: 100% auto;
    background-position: 100% 0;
    @media screen and (max-width: $tb * 1px) {
      background-size: 150% auto;
    }
    @media screen and (max-width: $mb * 1px) {
      background-size: 200% auto;
    }
  }
}