@import './theme.scss';

#hero {
  position: relative;
  width: 100vw;
  justify-content: center;
  @extend %page-margins;
  padding-top: 12.5vw;
  padding-bottom: 0;
  overflow: visible;
  h1 {
    @extend %col-10;
    &.large {
      @extend %col-12;
    }
  }
  #hero-video {
    @extend %absolute-fill;
    object-fit: cover;
    z-index: -100;
    background-size: cover;
    &::-webkit-media-controls,
    &::-webkit-media-controls-overlay-play-button,
    &::-webkit-media-controls-start-playback-button,
    &::-webkit-media-controls-play-button {
      display: none !important;
    }
  }
  #hero-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    z-index: 1;
  }
  .parallax-bg {
    min-height:100vh;
    &:before, &:after {
      content: '';
      display: block;
      box-sizing: border-box;
      position: absolute;
      width: 100%;
      height: 50%;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 1;
      @include dark-gradient;
    }
    &:after {
      bottom: 1px;
      transform: scaleY(-1) translateY(-100%);
    }
  }

}