@import './theme.scss';

%active-nav {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -25%;
    left: 0;
    right: 0;
    background-color: white;
    pointer-events: none;
    @extend %transition-standard;
  }
  &:hover {
    &:after {
      background-color: $tealLight;
    }
  }
}

#primary-nav {
  display: flex;
  position: fixed;
  width: 100vw;
  z-index: 99;
  pointer-events: none;
  @extend %page-margins;
  padding-right: 0;
  padding-top: 12px;
  > * {
    z-index: 10;
    position: relative;
  }
  #nav-logo {
    pointer-events: all;
    padding: 6px 9px 6px 0;
    margin-left: -36px;
    > img {
      height: 64px;
    }
    &:hover {
      opacity: .8;
    }
  }
  #nav-items {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-end;
    margin: 0;
    padding: .6em 2.4em 0 0;
    @extend %font-15;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .05em;
    a {
      color: white;
      text-decoration: none;
      user-select: none;
      transition-property: color;
      position: relative;
      &:hover {
        color: $tealLight;
        .page-title:after {
          background-color: $tealLight;
        }
      }
      .page-title {
        @extend %active-nav;
        &:after{
          opacity: 0;
        }
      }
      &.active .page-title{
        &:after{
          opacity: 1;
          animation: fadeIn .3s 0s ease;
        }
      }
    }
    li {
      list-style: none;
      box-sizing: border-box;
    }
    > li {
      pointer-events: all;
      margin-left: 2.4em;
      padding: 0;
      > a, 
      .dropdown-button {
        display: inline-block;
        padding: .8em .4em;
      } 
    }
    .dropdown-button {
      cursor: pointer;
      position: relative;
      user-select: none;
      z-index: 10;
      @extend %transition-standard;
      &:hover {
        color: $tealLight;
        .dropdown-title, .arrow {
          &:before, &:after {
            background-color: $tealLight;
          }
        }
      }
      .dropdown-title {
        position: relative;
        @extend %active-nav;
        &:after {
          opacity: 0;
          @extend %transition-standard;
        }
      }
      .arrow {
        width: 1.2em;
        height: 1em;
        margin-left: .25em;
        display: inline-block;
        position: relative;
        &:before, &:after {
          content: '';
          display: block;
          position: absolute;
          width: 50%;
          height: 2px;
          background-color: white;
          @extend %transition-standard;
          bottom: .13333em;
        }
        &:before {
          transform: rotate(45deg);
          transform-origin: 100% 100%;
        }
        &:after {
          transform: translateX(100%) rotate(-45deg);
          transform-origin: 0% 100%;
        }
      }
      &.open {
        .arrow {
          &:before {
            width: 66.7%;
            transform: translate(.2em, -.1333em) rotate(-45deg);
            transform-origin: 50% 50%;
          }
          &:after {
            width: 66.7%;
            transform: translate(.2em, -.1333em) rotate(45deg);
            transform-origin: 50% 50%;
          }
        }
      }
    }
    .dropdown {
      position: absolute;
      margin-top: .4em;
      margin-left: -1.6em;
      display:flex;
      z-index: 9;
      pointer-events: none;
      transform: translate3d(0, -50%, 0);
      opacity: 0;
      flex-direction: column;
      background-color: $blueMidDark;
      text-transform: none;
      letter-spacing: normal;
      padding: .8em 1.6em;
      white-space: nowrap;
      transition: .2s opacity ease-out, .2s transform .1s ease-out;
      a {
        display: inline-block;
        padding: .2em 0;
        margin: .6em 0;
        &.active {
          @extend %active-nav;
          &:after {
            bottom: -10%;
          }
        }
      }
      &.open {
        pointer-events: all;
        opacity: 1;
        transform: translate3d(0, 0, 0);
        transition: .1s opacity .1s ease-out, .2s transform ease-out;
      }
    }
    .contact {
      padding: .4em;
      .contact-link{
        @extend %transition-standard;
        border: 1px solid white;
        background-color: rgba($blueDark, .1);
        padding: .4em .8em;
        &:hover {
          border-color: $tealLight;
          color: $tealLight;
        }
      }
    }
  }
  &:before {
    @include dark-gradient;
    transform: scaleY(-1);
    content: '';
    position: absolute;
    @extend %absolute-fill;
    opacity: .667;
    height: 200%;
    bottom: auto;
    z-index: 1;
  }
}

.service-page #primary-nav #nav-items .dropdown-button .dropdown-title:after {
  opacity: 1;
}